.cookie-banner.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #FFF;
    padding: 10px;
    z-index: 1000;
    text-align: center;
}

.cookie-banner {
    display: none;
}

.cookie-button {
    display: none;
}

.cookie-button.active {
    display: block;
    margin: auto;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #E6A129;
}

.cookie-button.active:hover {
    color: #FFF;
}

