/*
// colors
$black: #000000;
$white: #FFFFFF;
$whiteDark: #D5D5D5;
$greyDark: #404040;
$goldenDark: #E6A129;
$goldenLight: #FFCC51;
$blueDark: #094BFF;
$blueLight: #2369FF;
$red: #D32F2F;
$green #43A047;
*/

body {
    margin: 0px;
    /* background-color: #404040; */
}

/* ----   boostrap    ----*/

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.img-thumbnail {
    min-height: 40vh;
    height: auto;
    display: block;
    margin: 10px 0 15px 0;
}

/* ----   class general    ----*/

.colorGolden {
    color: #E6A129;
}

.colorBlue {
    color: #094BFF;
}

.link {
    color: #094BFF;
}

.link:hover {
    color: #E6A129;
}

/* ----   banner    ----*/
#banner {
    height: 100px;
    background-color: #D5D5D5;
    width: 100%;
    overflow: hidden;
}

    #bannerLogo {
        float: left;
    }

        #bannerLogo #bannerLogoContent {
            height: 70px;
            margin-top: 15px;
            margin-left: 10px;
        }

    #bannerTitle {
        float: left;
        width: calc(100% - 90px - 70px);
    }

        #bannerTitle #bannerTitleContent {
            font-size: 3rem;
            font-weight: bold;
            font-family: 'aldirch';
            text-align: center;
            margin: 0;
            line-height: 100px;
        }

        #bannerLang {
            float: right;
            width: 54px;
            margin-top: 33px;
            margin-right: 10px;
        }
            .bannerLangForm {
                width: 90%;
                margin: auto;
                height: 30px;
                border: 1px solid #094BFF;
                border-radius: 5px;
                text-align: center;
                padding: 0;
            }

            .bannerLangForm:focus {
                border: 1px solid #E6A129;
                border-radius: 5px;
            }

            select:focus {
                outline-offset: -2px;
                border: 1px solid #E6A129;
                border-radius: 5px;
            }

            :focus {
                outline: -webkit-focus-ring-color auto 5px;
                border-radius: 5px;
            }


@media (min-width: 992px) {
    #banner {
        height: 120px;
    }

        #bannerLogo #bannerLogoContent {
            height: 90px;
            margin-top: 15px;
            margin-left: 50px;
        }

        #bannerTitle {
            width: calc(100% - 90px - 200px);
        }

        #bannerTitle #bannerTitleContent {
            font-size: 4.5rem;
            line-height: 120px;
        }

    #bannerLang {
        width: 130px;
        text-align: center;
        margin-top: 50px;
    }

        .bannerLangForm {
            width: 60%;
        }
    }

/* ----  swiper    ----*/

.mh-50 {
    overflow: hidden;
    padding: 0;
    /* height: calc(100vh - 150px); */
}

.swiper-container {

}
    .swiper-container .swiper-pagination-bullets {
        right: -48px;
        top: 56vh;
        transform: rotate(90deg);
    }

    .swiper-container .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 5px;
    }

    .step .swiper-pagination-bullet-active {
        background: #094BFF !important;
    }

    .step .swiper-pagination-bullet {
        background: #D5D5D5;
    }

    .step.stepEven .swiper-pagination-bullet {
        background: #404040;
    }

@media (min-width: 992px) {
    .mh-50 {
        overflow: hidden;
        height: 100vh;
    }

    .swiper-container .swiper-pagination-bullets {
        top: 50vh;
    }
}

/* ----  step    ----*/
#step1 {
    background: url('/image/image/step1.jpg') top center no-repeat;
    background-size: 800px 650px;
    padding: 0;
}

    #step1 .stepCircle {
        margin-top: 7vh;
    }

    #step1 .stepContent {
        margin: 0 15px;
    }

    #step1 .swiper-pagination.swiper-pagination-bullets {
        top: 64vh;
    }

#step2 {
    background: url('/image/image/step2.jpg') top center no-repeat;
    background-size: 800px 650px;
}

#step3 {
    background: url('/image/image/step3.jpg') top center no-repeat;
    background-size: 800px 650px;
}

#step4 {
    background: url('/image/image/step4.jpg') top center no-repeat;
    background-size: 800px 650px;
}

.stepCircleImg {
    background: url('/image/image/circle.jpg') center center no-repeat;
    background-size: cover;
}

#step6 {
    display: block;
    overflow: hidden;
    height: 100vh;
}

    #step6 .swiper-pagination.swiper-pagination-bullets {
        top: 48vh;
    }

@media (min-width: 701px) {
    #step1,
    #step2,
    #step3,
    #step4 {
        background-size: auto;
    }

    #step1 .stepContent {
        margin: 0 15px;
    }

}
@media (min-width: 992px) {

    #step1,
    #step2,
    #step4 {
        background-size: contain;
    }


    #step3{
        background-size: auto;
    }
    #step1 .stepArrowHorizontal,
    #step1 .stepCircle {
        margin-top: 35vh;
    }

    #step1 .stepContent {
        margin-top: 35vh;
    }
}

.step {
    padding: 0px 15px;
    position: relative;
    overflow: hidden;
    float: left;
}

    .stepCircle {
        opacity: 0.9;
        background-color: white;
        border-radius: 50%;
        width: 125px;
        height: 125px;
        margin: auto;
        margin-top: 15vh;
        position: relative;
    }

        .stepCircleText {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
            font-weight: bold;
            text-shadow: 5px 3px 20px #404040;
            /* for IE */
            filter : dropshadow(color=#404040, offx=5, offy=3) ;
        }

        .stepArrowHorizontal {
            display: none;
        }

    .stepContent {
        opacity: 0.9;
    }

        .stepContentTitle {
            font-size: 2.5rem;
            padding-left: 10px;
            padding-top: 10px;
            margin: 10px 0;
            font-weight: bold;
        }

        .stepContentText {
            padding: 5px;
        }

        .stepArrowVertical {
            display: none;
        }

    .stepColContent {
        margin: 10vh auto;
    }


.stepOdd {

}

    .stepOdd .stepCircle {
        background-color: #E6A129;
        border: 2px solid #FFCC51;
    }

        .stepOdd .stepCircle .stepCircleText {
            color: #094BFF;
            text-shadow: none;
        }

        .stepOdd .img-thumbnail {
            border: 2px solid #D5D5D5;
        }

        .stepOdd .stepContentTitle {
            color: #094BFF;
        }


.stepEven {
    background-color: #D5D5D5;
}

    .stepEven .stepCircle {
        background-color: #094BFF;
        border: 2px solid #2369FF;
    }

        .stepEven .stepCircle .stepCircleText {
            color: #E6A129;
        }

        .stepEven .img-thumbnail {
            border: 2px solid #D5D5D5;
        }

        .stepEven .stepContentTitle {
            color: #E6A129;
        }

@media (min-width: 992px) {
    .step .stepCol {
        position: relative;
        overflow: hidden;
        /* height: 100vh; */
    }

        .stepColCircle {
            padding-right: 0;
        }

        .stepColArrow {
            padding: 0;
        }

        .stepColContent {
            margin: auto;
            padding: 0 60px 0 0;
        }

            .stepContent {
                height: 55vh;
                z-index: 100;
            }

                .stepContentTitle {
                    margin: 20px 0;
                    text-align: center;
                }

                .stepContentText {
                    padding: 20px;
                }

    .stepArrowHorizontal,
    .stepContent,
    .stepCircle {
        margin-top: 50vh;
        transform: translateY(-50%);
    }

    .stepCircle {
        width: 250px;
        height: 250px;
        float: right;
    }

        .stepCircleText {
            font-size: 3.5rem;
        }

    .stepOdd {
        padding-right: 0;
    }

    .stepEven {
        padding-left: 0;
    }

        .stepEven .stepColCircle,
        .stepEven .stepColArrow {
            float: right;
        }

        .stepEven .stepColCircle {
            padding: 0;
            margin-top: 0;
            margin-bottom: 10vh;
        }

            .stepEven .stepCircle {
                float: left;
            }

        .stepEven .stepColContent {
            padding: 0;
        }

            .stepEven .stepContent {
                margin-left: 60px;
            }

/* --- arrow ---*/
    .stepArrowVertical,
    .stepArrowHorizontal {
        display: block;
    }

        .stepArrow {
            position: absolute;
            display: block;
            height: 9px;
            background-color: #D5D5D5;
            float: left;
        }

        #step2 .stepArrow,
        #step4 .stepArrow {
            background-color: #000000;
        }

        #step1 .stepArrowVertical .stepArrow {
            margin-top: 2rem;
        }

        .stepArrowHorizontal .stepArrow {
            width: 93%;
            float: left;
            margin-top: 13px;
            top: 0;
            left: 0;
        }

        .stepArrowVertical .stepArrow {
            width: 59vh;
            z-index: 1;
            transform: rotate(90deg);
        }

    .stepArrowImg {
        float: right;
        width: 35px;
    }

    .stepColArrow.stepArrowHorizontal .stepArrow{
        position: absolute;
    }

    .stepArrowVertical .stepArrowVerticalBottom .stepArrow {
        bottom: 0;
    }

    .stepArrowVertical.stepArrowVerticalTop {
        position: relative;
    }

        .stepArrowVertical.stepArrowVerticalTop .stepArrow {
             top: 0;
         }

    .stepEven {

    }

        .stepEven .stepArrowVertical.stepArrowVerticalTop .stepArrow {
            top: -184px;
            position: absolute;
            width: 273px;
        }

        .stepEven .stepArrowVertical.stepArrowVerticalTop .stepArrowImg {
            position: absolute;
            width: 35px;
            transform: rotate(90deg);
            left: 120px;
            top: -55px;
        }

        .stepEven .stepArrowHorizontal .stepArrow {
            margin-left: 24px;
        }

        .stepEven .stepArrowHorizontal .stepArrowImg {
            float: left;
            transform: rotate(180deg);
        }


        .stepEven .stepArrowVertical.stepArrowVerticalBottom .stepArrow {
            right: 0;
        }

    .stepOdd {

    }

        .stepOdd .stepArrowVertical.stepArrowVerticalTop .stepArrow {
            top: -184px;
            position: absolute;
            width: 273px;
        }

        .stepOdd .stepArrowVertical.stepArrowVerticalTop .stepArrowImg{
            position: absolute;
            width: 35px;
            transform: rotate(90deg);
            left: 120px;
            top: -55px;
        }
}

/*--- finish step -- */

#stepNewsletter {
    padding: 0 30px;
    margin-top: 40vh;
    transform: translateY(-25%);
}

    #newsletter,
    #stepSocialNetworks {
        font-size: 1.4rem;
        text-align: center;
    }

    .stepNewsletterText {
        color: #000000;
    }

    .stepNewsletterForm {
        margin: 50px 0;
    }

        .form-group.has-success.has-feedback {
            width: 100%;
            margin: auto;
        }

        .has-success .input-group-addon {
            color: #000 !important;
            border-color: #094BFF !important;
            background-color: #2369FF !important;
        }

        .has-success .form-control {
            border-color: #094BFF !important;
            padding-right: 12px;
        }

        .has-success .form-control:focus {
            border-color: #094BFF !important;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #094BFF !important;
        }

        .input-group-addon {
            font-size: 22px;
        }

        .input-group.form-group {
            width: 100% !important;
            margin: auto !important;
            height: 46px;
        }

        .stepNewsletterFormEmail {
            height: 49px;
        }

        .stepNewsletterFormEmail::placeholder {
            color: #000000;
            opacity: 1;
        }

        .form-control::placeholder {
            color: #000000 !important;
            opacity: 1;
        }

        .stepNewsletterFormButton {
            background-color: #E6A129;
            color: #000000;
            width: 100%;
            font-weight: bold;
            margin: 30px auto !important;
        }

        .stepNewsletterFormButton:hover {
            background-color: #FFCC51;
            color: #000000;
        }

#stepSocialNetworks {
    margin-top: 23vh;
}

@media (min-width: 992px) {
    #stepNewsletter,
    #stepSocialNetworks {
        padding: 0 30px;
        margin-top: 50vh;
        transform: translateY(-50%);
    }

    .input-group.form-group {
        width: 50% !important;
    }

    .stepNewsletterFormButton {
        width: 135px;
        margin: auto;
    }

    .btn {
        display: block;
    }
}

#stepSocialNetworks .btn {
    display: block;
    padding: 1.5rem;
}

.stepSocialNetworksIcon {
    width: 5rem;
    margin: auto;
}

@media (min-width: 992px) {
    #stepSocialNetworks {
        padding-top: 0;
    }

    #stepSocialNetworks .btn {
        display: inline-block;
        padding: 3rem;
    }

    .stepSocialNetworksIcon {
        width: 7rem;
    }
}

#footer {
    height: 50px;
    line-height: 50px;
    background-color: #D5D5D5;
    width: 100%;
    text-align: center;
    display: block;
    overflow: hidden;
    padding: 0 15px;
    margin-top: 17vh;
}

@media (min-width: 992px) {
    #footer {
        margin-top: 25vh;
        transform: translateY(-25%);
    }
}


#footerText {
    font-family: "aldirch";
    font-size: 1.5rem;
    float: left;
    font-weight: bold;
}

#footerLink {
    float: right;
}
