/*
// colors
$black: #000000;
$white: #FFFFFF;
$whiteDark: #D5D5D5;
$greyDark: #404040;
$goldenDark: #E6A129;
$goldenLight: #FFCC51;
$blueDark: #094BFF;
$blueLight: #2369FF;
$red: #D32F2F;
$green #43A047;
*/

body {
    margin: 0px;
    background-color: #404040;
}

.container-fluid {
    padding: 0;
}

.colorGolden {
    color: #E6A129;
}

.colorBlue {
    color: #094BFF;
}

.link {
    color: #094BFF;
}

.link:hover {
    color: #E6A129;
}

/* ----   banner    ----*/
#banner {
    height: 100px;
    background-color: #D5D5D5;
    width: 100%;
    overflow: hidden;
}

#bannerLogo {
    float: left;
}

#bannerLogo #bannerLogoContent {
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

#bannerTitle {
    float: left;
    width: calc(100% - 90px);
}

#bannerTitle #bannerTitleContent {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'aldirch';
    text-align: center;
    margin: 0;
    line-height: 100px;
}

@media (min-width: 992px) {
    #banner {
        height: 120px;
    }

    #bannerLogo #bannerLogoContent {
        height: 90px;
        margin-top: 15px;
        margin-left: 50px;
    }


    #bannerTitle {
        width: calc(100% - 90px - 50px);
    }

    #bannerTitle #bannerTitleContent {
        font-size: 4.5rem;
        line-height: 120px;
    }
}

/* ----  finish  banner    ----*/

.row {
    margin: 0;
}

/* ----  swiper    ----*/

.swiper-container .swiper-pagination-bullets {
    right: -5px;
    top: 50vh;
    transform: rotate(90deg);
}

.bloc .swiper-pagination-bullet-active {
    background: #094BFF !important;
}

.bloc .swiper-pagination-bullet {
    background: #D5D5D5;
}

.mh-50 {
    overflow: hidden;
    padding: 0;
    height: 100vh;
}

.bloc {
    padding: 0px 15px;
    position: relative;
    overflow: hidden;
    float: left;
}

.rond {
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.rond2 {
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.textrond {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.loremtitle {
    font-size: 2.5rem;
    padding-left: 30px;
    padding-top: 10px;
}

.loremtext {
    padding-left: 60px;
    padding-top: 10px;
}

#newsletter {
    margin-top: 200px;
    font-size: 1.4rem;
    text-align: center;
}

#mail {
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 180px;
}

#envoyer {
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    width: 72px;
}

#reseaux {
    height: 120px;
    background-color: #738F7F;
    display: block;
    position: absolute;
    bottom: 100px;
    width: 100%;
}

#footer {
    height: 50px;
    line-height: 50px;
    background-color: #D5D5D5;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 0 15px;
}

#footerText {
    font-family: "aldirch";
    font-size: 1.5rem;
    float: left;
    font-weight: bold;
}

#footerLink {
    float: right;
}

.reseau {
    background-color: #485158;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#reseaux1 {
    display: block;
    height: 50px;
    width: auto;
    text-align: center;
    margin-top: 30px;
}

#reseau1 {

}

#reseau2 {
}

#reseau3 {

}

#reseau4 {
    margin-right: 0px;
}

#bloc2 {
    background-color: #485158;
}

#bloc3 {
    background-color: #738F7F;
}

#bloc4 {
    background-color: #485158;
}

#bloc5 {
    background-color: #738F7F;
}

#bloc6 {
    background-color: #485158;
}

@media (min-width: 992px) {

    .mh-50 {
        overflow: hidden;
        height: 100vh;
    }

    .rond {
        margin-top: 185px;
        float: right;
    }

    .rond2 {
        margin-top: 185px;        
        float: left;
    }

    .arrowRond {
        height: 4px;
        background-color: black;
        display: inline-block;
        margin-top: 258px;
        width: 75px;
        float: right;
    }

    .arrowRond2 {
        height: 4px;
        background-color: black;
        display: inline-block;
        margin-top: 258px;
        width: 75px;
        float: left;
    }

    .blocRond {
        padding-right: 0;
    }

    .blocRond2 {
        float: right;
        padding-left: 0;
    }

    .arrowHorizontal {
        padding: 0px;
    }

    .arrowHorizontal2 {
        padding: 0px;
        float: right;
    }

    .arrowVertical {
        height: 20px;
        width: 20px;
        background-color: red;
        display: inline-flex;
    }

    .arrow {
        height: 4px;
        background-color: black;
        display: block;
        margin-top: 258px;
        width: 100%;
    }

    .paragraphe {
        padding: 0;
    }

    .paragraphe2 {
        float: left; 
        padding: 0;
    }

    .text {
        display: inline-block;
        background-color: white;
        margin-top: 185px;
        margin-right: 50px;
        width: 300px;
    }

    .text2 {
        display: inline-block;
        background-color: white;
        margin-top: 185px;
        margin-left: 50px;
        width: 300px;
        float: right;
    }
}